* {
  box-sizing: border-box; }

section h1, section h4 {
  color: #53c2d8;
  text-align: right;
  text-transform: uppercase;
  margin: 0; }

section p {
  margin-top: 0;
  font-size: 16px; }

body {
  background: #ffffff;
  font-family: Arial;
  color: #929591;
  padding: 0 30px;
  margin: 0; }

header {
  display: flex; }
  header .logo {
    flex-basis: 55%;
    align-items: flex-end; }
    header .logo img {
      width: 100%; }
  header nav {
    flex-basis: 100%;
    display: flex;
    align-items: flex-end;
    text-align: center;
    padding-bottom: 50px; }
    header nav a {
      padding: 20px 0;
      text-decoration: none;
      color: #53c2d8;
      text-transform: uppercase;
      border-bottom: 2px solid #8ea0aa;
      border-top: 2px solid #8ea0aa;
      flex-basis: 100%;
      font-weight: initial; }

.toolbar {
  text-align: end; }
  .toolbar input[type=text] {
    border: 2px solid #53c2d8;
    padding: 10px;
    margin-bottom: 20px;
    background-color: inherit; }
    .toolbar input[type=text]::placeholder {
      color: #53c2d8;
      font-weight: bold; }

.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; }
  .post-list article {
    width: 49%;
    padding: 10px;
    background-color: #eeeeee;
    margin-bottom: 20px; }
    .post-list article img {
      width: 100%; }
    .post-list article .post-description {
      color: #7eb6ae;
      margin-top: 10px;
      font-size: 14px; }
    .post-list article h3 {
      color: #369aa6;
      text-transform: uppercase;
      border-top: 2px solid #369aa6;
      padding-top: 5px;
      font-size: 20px;
      margin-bottom: 0; }
    .post-list article p {
      line-height: 1.5em; }

section.about img {
  width: 100%;
  margin-bottom: 40px; }

section.contact-form h1 {
  font-size: 25px; }
section.contact-form h4 {
  font-size: 17px; }
section.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  section.contact-form form input, section.contact-form form textarea {
    width: 100%;
    padding: 15px;
    border: 2px solid #929591;
    background-color: inherit;
    margin-top: 15px;
    font: 15px Arial; }
  section.contact-form form button {
    width: 20%;
    max-width: 200px;
    padding: 10px;
    color: #ffffff;
    background-color: #53c2d8;
    border: 1px solid #53c2d8;
    margin-top: 15px; }

footer span {
  font-size: 14px; }
