$fontFamily: Arial;
$fontColor: #929591;
$bodyBGColor: #ffffff;
$colorNavMenu: #53c2d8;
$borderSizeNav: 2px;
$fontWeightNav: initial;
$articleBGColor: #eeeeee;
$postDescriptionColor: #7eb6ae;
$h3Color: #369aa6;
$borderTopSize: 2px;
$borderTopColor: #929591;
$h3FontSize: 20px;
$headerSectionColor: #53c2d8;
$buttonColor: #53c2d8;
$fontSizeh1ContactForm: 25px;
$fontSizeh4ContactForm: 17px;
