$fontFamily: 'Book Antiqua';
$fontColor: #79797b;
$bodyBGColor: #eeeeee;
$colorNavMenu: #f77850;
$borderSizeNav: 1px;
$fontWeightNav: bold;
$articleBGColor: #ffffff;
$postDescriptionColor: #d2d7da;
$h3Color: #627b8a;
$borderTopSize: 1px;
$borderTopColor: #d2d7da;
$h3FontSize: 22px;
$headerSectionColor: #f77850;
$buttonColor: #f77850;
$fontSizeh1ContactForm: 32px;
$fontSizeh4ContactForm: 18px;